.aside{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 180px;
    background-color: #34495e;
    /* height: 100vh; */
}
li{
    list-style: none;
}


a, a:hover{
    display: block;
    color: white;
    text-decoration: none;
}

.nav a{
    padding: 10px 20px;
    width: 180px;
    font-weight: 500;
    /* border: .4px solid #22293b; */
}

.aside .toggle-list .active > a {
    color: #eee;
    /* background-color: #243443; */
} 
.aside .toggle-list a:hover,
.aside .toggle-list a:focus {
    color: #fcfcfc;
    background-color: #2c3e50;
}
.aside-nav{
    padding:0 0 0 0px;
    background-color: #496077;
    font-size: 0.8em;
}

.aside-nav a{
    border: none;
}

.profile{
    align-items: center;
    margin-left: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
    /* text-align: center; */
}
.account-img{
    width: 28%;
    /* display: inline; */
    /* object-fit: cover; */
}
.aside .profile .name{
    display: inline;
    margin-left: 10px;
    font-size: 16px;
    font-weight: 700;
    color: #eee;
}
.selling-table, .sr-info-table {
    display: none;
}

.table{
    align : center;
    font-size: 14px;
    /* height : 18px; */
    margin: 10vh 10vh;
    width: 80%;
    
}
.table tr th,
.table tr td{
    /* height : 20px; */
    padding: 7px;
    text-align : center;
}

.logout{
    /* position :fixed; */
    bottom : 10px;
}
.cancel-btn {
    border: none;
    border-radius: 4px;
    height:27px;
    width: 90px;
    background-color:#eee;
    margin: 0;
}
.no-need{
    margin : 20vh 40px;
}

.content-box{
    margin: 7vh 7vh 7vh 7vh;
    /* color:black; */
}
.nav-item a{
    font-size: 14px;
    color:#585d74;
}
.sell-nav-box .nav-item a{
    width:130px!important;
}

.form-control{
height: 1.7em;
/* border-top: none; */
border-radius: 0;
}
.form-control:focus{
/* border: tomato; */
border-color: rgb(75, 90, 131);
box-shadow: none;
}

.sr-info-content{
    /* margin-top:10vh; */
    margin-left: 10vh;
    font-size: 14px;
    font-weight:600;
}
.btn-save-change{
    font-size: 14px;
    background-color:  #364758;
    border: none;
    width: 150px;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 15px;
    }
.sr-info-content{
    margin-top:5vh;
    width:50%;
    /* font-size: 14px; */
}
.sr-info-add-box2{
    width:50%;
    margin-left:100px;
}

.sr-info-content .tip{
    display: none;
    color: rgb(255, 79, 79);
    font-size: .8em;
    /* margin-bottom: 1.1em; */
    margin-top: .1em;
    margin-left: .2em;
}

.show{
    display: block!important;
}

.warning-tip{
    display:none;
}

.show-wt{
    display: inline-block;
}
.sr-detail-info-box{
    /* font-size: 18px!important; */
    width: 100%;
    margin: 10vh auto;
    text-align: center;
}
.detail-box{
    display: none;
    /* padding: auto 100px!important; */
}
.show-cell{
    display: table-cell;
}
.sr-detail-info-table td,
.sr-detail-info-table th{
    padding: 7px;
}
.col-3 .quota-chart{
    margin: 0 auto;
}
.inner-table{
    margin: 30px auto;
    font-size: 14px;
}
.chart-column {
    margin: 0 auto;
    align-items: center;
    text-align: center;
    
}

.sr-detail-info-table .form-control{
    width: 70px; 
    margin: 0 auto; 
    height: 30px; 
    border-radius: 0; 
    text-align: center;
    border: none;
    border-bottom: .5px solid black;
}
.save-btn{
    height: 30px;
    /* padding: 0; */
    border: none;
    width: 50px;
}

.sr-detail-info-box a{
    color:black;
}
.sr-detail-info-box thead{
    font-size: 16px;
}
.sr-detail-info-box tbody{
    font-size: 16px;
}

.warning-box{
    width: 90%;
    text-align: center;
}

.warning-box input{
    width: 100px;
    text-align: center;
    border: 0.5px,solid,black;
}
.regrant-btn{
    margin: 0 0 0 -100px;
    display: inline-block;
    border:none;
    background-color: #496077;
    color: #eee;
    height: 35px;
    width: 100px;
    border-radius: 4px;
}
.regrant-btn:focus,
.regrant-btn:hover{
    border: none;
    background-color: #364758;
    color: rgb(248, 248, 248);
}

.update-btn{
    border: 2px solid #364758;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    color: #364758;
    font-weight: 600;
    margin-top: -2px;
}
.update-btn:focus,
.update-btn:hover{
    outline: none;
    border: 2px solid #364758;
    background-color:  #364758;
    color: #ffffff;
    transition: ease-in-out .3s;
}

.update-input,
.update-input:focus{
    width: 80px;
    border: 1px solid #c5c5c5;
    border-top: none;
    border-left: none;
    border-right: none;
    text-align: center;
    outline: none;
}